// COLORS
// $color-primary: #55c57a;
$color-primary: #ED7A65;
// $color-primary-light: #7ed56f;
$color-primary-light: #ff9966;
// $color-primary-dark: #28b485;
$color-primary-dark: #ff5e62;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;
$color-secondary-light: #7ed56f;
$color-secondary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeeeee;
$color-grey-dark-1: #777777;
$color-grey-dark-2: #999999;
$color-grey-dark-3: #333333;
$color-white: #ffffff;
$color-black: #000000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONTS
$default-size: 1.6rem;
