.nav {
  &__checkbox {
    display: none;
  }

  &__btn {
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 6rem;
    right: 6rem;

    height: 7rem;
    width: 7rem;
    z-index: 52;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    border-radius: 50%;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;

    height: 6rem;
    width: 6rem;
    z-index: 50;

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    z-index: 51;

    opacity: 0;
    width: 0;
    transition: all 0.8s;
  }

  &__list {
    list-style: none;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 235%;
      color: $color-white;
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.4s;

      span {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(120);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;

    &,
    &::after,
    &::before {
      background-color: $color-grey-dark-3;
      display: inline-block;

      height: 2px;
      width: 3rem;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::after {
      top: 1rem;
    }

    &::before {
      top: -1rem;
    }
  }

  &__btn:hover &__icon::after {
    top: 1.1rem;
  }

  &__btn:hover &__icon::before {
    top: -1.1rem;
  }

  &__checkbox:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
}