.card {
  perspective: 150rem;
  -moz-perspective: 150rem;

  height: 50rem;
  position: relative;

  &__side {
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    font-size: 2rem;
    height: 50rem;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s ease;
    width: 100%;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__img {
    background-blend-mode: screen;
    background-size: cover;
    height: 23rem;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
      url(../img/03.jpg);
    }

    &--2 {
      background-image:
      linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
      url(../img/03.jpg);
    }

    &--3 {
      background-image:
      linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../img/03.jpg);
    }
  }

  &__heading {
    background-image: ;
    color: $color-white;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;

    position: absolute;
    top: 12rem;
    right: 2rem;
  }

  &__details {
    
  }
}