.feature-card {
  background-color: rgba($color-white, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  font-size: 1.5rem;
  height: 33rem;
  padding: 2.5rem;
  text-align: center;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__icon {
    margin-bottom: 5px;

    height: 6rem;
    width: 6rem;
  }
}